:root {

  --table-tr-hover: rgb(221, 221, 221);

  --table-th-bg: rgb(4, 170, 109);

  --table-border: 1px solid rgba(0, 0, 0, 0.4);
}

section {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
}

section img {
  max-width: 20%;
}

table {
  border-collapse: collapse;
  margin: 0 15px;
  width: 100%;
}

tbody tr:hover {
  background-color: var(--table-tr-hover);
  cursor: pointer;
}

th {
  background-color: var(--table-th-bg);
  border: var(--table-border);
  color: white;
  padding: 3vh 5vw;
}

td {
  border-bottom: var(--table-border);
  padding: 2vh 0;
  text-align: center;
}

@media only screen and ( max-width : 800px ) {

  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section img {
    max-width: 30%;
  }

  table {
    margin: 0 0 50px;
  }
}
